<div class="col-sm-10 offset-sm-1">
  <h1 class="page-title" >タスク名：<%= @task.name %></h1>
  <% if @task.status == 'incomplete' %>
    <p class="mt-4">状態 : 未完了</p>
    <%= link_to fa_icon("check", text: "タスクを完了にする") ,complete_task_path(@task), class:'badge badge-danger', method: :put %>
  <% else %>
    <p class="mt-4">状態 : 完了</p>
    <%= link_to fa_icon("times", text: "タスクを未完了に戻す") ,incomplete_task_path(@task), class:'badge badge-secondary', method: :put %>
  <% end %>
  <p class="mt-4"><%= "担当者 : #{current_task.in_charge}" %></p>
  <p><%= "期限 : #{set_time(current_task.time_limit)}まで" %></p>
  <%= link_to fa_icon("edit", text: "タスクを編集"), edit_task_path(@task) , class:'badge badge-info user-invite-btn' %>
  <%= link_to fa_icon("trash-alt", text: "タスクを削除"), @task, method: :delete, class:'badge badge-secondary', data: { confirm: "本当に削除しますか?" } %>
  <% if @graph_y.any? %>
    <div class="graph mt-4 mb-4">
      <canvas id="myLineChart"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
      <script>
        graph_y = <%== @graph_y %>
        graph_x = <%== @graph_x %>
        line_graph();
      </script>
    </div>
  <% end %>
   <h2 class="list-title"><%= current_group.name %>のグループ > <%= current_task.name %>のタスク > 進捗一覧</h2>
   <div class="mb-5">
     <% @records.each do |record| %>
       <table class="table table-bordered text-center mb-0 mt-5">
         <thead class="thead-light">
           <tr>
             <th>記入日</th>
             <th>進捗度(%)</th>
             <th>操作</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td><%= set_time(record.created_at) %></td>
             <td><%= record.progress %></td>
             <td>
               <%= link_to fa_icon("edit", text: "編集"), edit_record_path(record) , class:'badge badge-info py-2' %>
               <%= link_to fa_icon("trash-alt", text: "削除"), record_path(record, id: record.id), method: :delete, data: { confirm: "本当に削除しますか?" } , class:'badge badge-secondary py-2' %>
             </td>
           </tr>
         </tbody>
        </table>
        <% if record.supplement != "" %>
          <table class="table table-bordered mb-0">
            <thead class="thead-light text-center">
              <tr>
                <th>コメント</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= simple_format(record.supplement) %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <% if record.images.attached? %>
          <table class="table table-bordered image-table">
            <thead class="thead-light text-center">
              <tr>
                <th>画像</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="flex">
                  <% record.images.each do |image| %>
                    <div class="image-container text-center">
                      <div id="image-<%= image.id %>" class="image-id">
                        <div class="close">
                          <%= link_to image_destroy_record_path(record, image_id: image.id), method: :delete, data: {confirm: '削除しますか？'}, remote: true do %>
                            <i class="fas fa-window-close text-danger"></i>
                          <% end %>
                        </div>
                        <%= link_to image, 'data-lightbox': image do  %>
                          <%= image_tag image %>
                        <% end %>
                        <%= link_to fa_icon("file-alt", text: "文字抽出"), text_record_path(record, image_id: image.id), method: :put, class:'badge badge-info py-2' %>
                      </div>
                    </div>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
   </div>
  <%= paginate(@records) %>
  <%= link_to fa_icon("plus", text: "進捗追加"), new_record_path, class: 'btn btn-primary btn-block' %>
  <%= link_to 'タスク一覧へ戻る≫', current_group %>
</div>
