<div class="col-sm-10 offset-sm-1">
  <h1>タスク名：<%= @task.name %></h1>
  <% if @task.status == 'incomplete' %>
    <p class="mt-4">状態 : 未完了</p>
    <%= link_to fa_icon("check", text: "タスクを完了にする") ,complete_task_path(@task), class:'badge badge-danger', method: :put %>
  <% else %>
    <p class="mt-4">状態 : 完了</p>
    <%= link_to fa_icon("times", text: "タスクを未完了に戻す") ,incomplete_task_path(@task), class:'badge badge-secondary', method: :put %>
  <% end %>
  <p class="mt-4"><%= "担当者 : #{current_task.in_charge}" %></p>
  <p><%= "期限 : #{set_time(current_task.time_limit)}まで" %></p>
  <%= link_to fa_icon("edit", text: "タスクを編集"), edit_task_path(@task) , class:'badge badge-info user-invite-btn' %>
  <%= link_to fa_icon("trash-alt", text: "タスクを削除"), @task, method: :delete, class:'badge badge-secondary', data: { confirm: "本当に削除しますか?" } %>
  <div class="graph mt-4 mb-4">
    <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
      graph_y = <%== @graph_y %>
      graph_x = <%== @graph_x %>
      draw_graph();
    </script>
  </div>
   <h2>進捗一覧</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <th class="text-center">記入日</th>
        <th class="text-center">進捗度(%)</th>
        <th class="text-center">補足</th>
        <th class="text-center">画像</th>
        <th class="text-center">操作</th>
      </tr>
      <% @records.each do |record| %>
        <tr>
          <td class="text-center"><%= set_time(record.created_at) %></td>
          <td class="text-center"><%= record.progress %></td>
          <td class="text-center"><%= record.supplement %></td>
          <td class="text-center">
            <% if record.images.attached? %>
              <% record.images.each do |image| %>
                <ul class="mt-2 transcription_list">
                  <li>
                    <%= link_to image, 'data-lightbox': image do  %>
                      <%= image_tag image %>
                    <% end %>
                  </li>
                  <li>
                    <%= form_with(model: record, local: true, url: text_record_path(record), method: :put) do |f| %>
                      <%= f.hidden_field :image_id, value: image.id %>
                      <%= button_tag :type => "submit", :class =>"badge badge-secondary pt-2 pb-2" do %>文字抽出<% end %>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </td>
          <td class="text-center btn-list">
            <%= link_to fa_icon("edit", text: "編集"), edit_record_path(record) , class:'badge badge-info mb-2 pt-2 pb-2' %>
            <%= form_with(model: record, local: true, method: :delete, data: { confirm: "本当に削除しますか?" }) do |f| %>
              <%= hidden_field_tag :id, record.id %>
              <%= button_tag :type => "submit", :class =>"badge badge-secondary pt-2 pb-2" do %>
                <i class="fa fa-trash-alt"></i> 削除
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <%= paginate(@records) %>
  <%= link_to fa_icon("plus", text: "進捗追加"), new_record_path, class: 'btn btn-primary btn-block' %>
  <%= link_to 'タスク一覧へ戻る≫', current_group %>
</div>
