<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div>退去させるメンバーを選んでください</div>
        <table class="table table-striped table-bordered">
            <tr>
                <th class="text-center">ユーザーネーム</th>
                <th class="text-center">氏名</th>
                <th class="text-center">操作</th>
            </tr>
            <% @group_users.each do |group_user| %>
                <% unless group_user == current_user %>
                <tr>
                    <td class="text-center"><%= group_user.user_name %></td>
                    <td class="text-center"><%= group_user.name %></td>
                    <td class="text-center">
                    <%= form_with(url: expulsion_users_path, local: true, method: :delete) do |f| %>
                        <%= hidden_field_tag :id, group_user.id %>
                        <%= f.submit "このユーザーを退去" ,data: { confirm: "本当に退去させますか？" }, class:'btn btn-secondary btn-block btn-adjust' %>
                    <% end %>
                    </td>
                </tr>
                <% end %>
            <% end %>
        </table>
        <%= paginate(@group_users) %>
        <%= link_to 'タスク一覧へ戻る≫', current_group%>
    </div>
</div>