<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <%= search_form_for @search, url: search_users_path do |f| %>
            <div class= "form-group">
                <%= f.label :user_name_cont, 'ユーザーネーム' %>
                <%= f.text_field :user_name_cont, class:'form-control' %>
            </div>
            <div class= "form-group">
                <%= f.label :name_cont, '氏名' %>
                <%= f.text_field :name_cont, class:'form-control' %>
            </div>
            <%= f.submit '検索', class: 'btn btn-primary btn-block mb-5' %>
        <% end %>
    <% if User.all.count > @users.count && @users.count != 0 %>
    </div>
    <div class="col-lg-8 offset-lg-2">
    <table class="table table-striped table-bordered">
        <tr>
            <th class="text-center">ユーザーネーム</th>
            <th class="text-center">氏名</th>
            <th class="text-center">招待状況</th>
        </tr>
        <% @users.each do |user| %>
            <% unless user == current_user %>
            <tr>
                <td class="text-center"><%= user.user_name %></td>
                <td class="text-center"><%= user.name %></td>
                <td class="text-center">
                <% if current_group.invite?(user) && current_group.confirm_status(user).status == 'invite' %>
                    <div> 参加承認待ちです</div>
                <% elsif current_group.invite?(user) && current_group.confirm_status(user).status == 'accept'%>
                    <div> グループに参加しています</div>
                <% else %>
                <%= form_with(model: current_group.relationships.build, local: true) do |f| %>
                    <%= hidden_field_tag :user_id, user.id %>
                    <%= f.submit 'グループに招待する' ,data: { confirm: "このユーザーを招待しますか？" }, class: 'btn btn-info btn-block btn-adjust'%>
                <% end %>
                <% end %>
                </td>
            </tr>
            <% end %>
        <% end %>
    <% end %>
    </table>
    <%= paginate(@users) %>
    <%= link_to 'タスク一覧へ戻る≫', current_group%>
    </div>
</div>
