<div class="text-center">
  <h1>進捗の追加</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @record, local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :progress, '進捗度' %>
        <%= f.text_field :progress, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :supplement, '補足' %>
        <%= f.text_area :supplement, class: 'form-control' %>
      </div>

      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
