<div class="row transcription">
  <div class="col-md-6 ">
    <p>元画像</p>
    <%= link_to @image, 'data-lightbox': @image do %>
      <%= image_tag @image, class: "cloud_vison_image mb-4" %>
    <% end %>
  </div>
  <div class="col-md-6 ">
    <p>テキスト</p>
    <% if @response.responses.first.text_annotations == [] || @response.nil? %>
      <div class="mb-4 text-center">
        テキスト抽出に失敗しました<br>
        (画面更新で抽出できる場合があります)
      </div>
    <% else %>
      <div class="mb-4"><%= @response.responses.first.text_annotations.first.description %></div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <div class="triangle"></div>
</div>
<div class="row transcription">
  <div class="col-sm-8 offset-sm-2">
    <p>テキストをコピーしてコメントに反映してみましょう!</p>
    <%= form_with(model: @record, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.text_area :supplement, class: 'form-control' %>
      </div>
      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
    <%= link_to '進捗一覧へ戻る>>', current_task %>
  </div>
</div>
